.tw-whiteboard-tldraw-container {
  width: 100%;
  height: 500px;
  position: relative;
  /** don't overlap with other dropdown */
  z-index: 0;
}

.tw-whiteboard-tldraw-container button:not(.tc-btn-invisible) {
  padding: unset;
  margin: unset;
  border-radius: unset;
  background-color: unset;
}