.tw-whiteboard-layout-top-bar {
  -webkit-app-region: drag;

  position: absolute;
  z-index: 1;
  top: 0;

  width: 400px;
  left: calc(50% - 400px / 2);
  padding: 5px;

  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.04);
  backdrop-filter: blur(5px);
  border-radius: 2em;

  display: flex;
  justify-content: center;
  align-items: center;
}
.tw-whiteboard-layout-top-bar > select {
  max-width: 200px;
  margin: 0 0.5em;
}

.tw-whiteboard-layout-main-area {
}

div.tw-whiteboard-layout-container {
  margin-top: 0px;
}
.tw-whiteboard-layout-container p {
  margin: 0;
}

.tw-whiteboard-layout-create-new-tiddler-modal-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}
.tw-whiteboard-layout-create-new-tiddler-modal-container input {
  width: 100%;
  font-size: 1.5em;
  height: 2em;
}
.tw-whiteboard-layout-create-new-tiddler-modal-button {
  font-size: 2em;
}
