.note-shape-component-outer {
  width: 100%;
  height: 100%;
  position: absolute;
}
.note-shape-component-inner {
  width: 100%;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.04);
  pointer-events: all;
  position: relative;
  padding: 1em;
  overflow-y: auto;
  border-radius: var(--radius-2);
}
.note-shape-component-inner.note-shape-edit-mode {
  padding: 0.5em;
}
.note-shape-component-inner.note-shape-edit-mode > textarea {
  background: transparent;
  border: none;
  overflow-wrap: break-word;
  width: 100% !important;
  height: 100% !important;
  resize: none;
}

/**
 * Remove scrollbar
 */
.note-shape-component-inner.note-shape-edit-mode > textarea::-webkit-scrollbar {
	width: 0 !important
}
.note-shape-component-inner.note-shape-edit-mode > textarea {
  overscroll-behavior: contain;
	overflow: -moz-scrollbars-none;
}
.note-shape-component-inner {
  overscroll-behavior: contain;
	overflow: -moz-scrollbars-none;
}
.note-shape-component-inner::-webkit-scrollbar {
	width: 0 !important
}
